//只能用作土地icon上下浮动、
// animation: float_up_and_down 1s infinite ease-in-out;
@keyframes float_up_and_down {
  0%,100%{
    transform: translate(0px) rotateZ(-11deg) skew(41deg, -21deg);
  }

  50% {
    transform: translate(-0.2rem, -0.14rem) rotateZ(-11deg) skew(41deg, -21deg);
  }
}
.ploughBox {
  position: absolute;
  border-radius: 0.2rem;
  bottom: 2.8rem;
  left:50%;
  transform: translateX(-50%) rotate(24deg) skew(-40.5deg) scale(1);
  height: 3.5rem;
  width: 4.875rem;
  z-index: 10;
  background: url("/static/img/farmGame/tudi_bg.png") no-repeat;
  background-size: 100% 100%;
  background-position:center bottom ;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    touch-action: none;
    height: 88%;
    width: 88%;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

    .plough {
      box-sizing: border-box;
      width: 33.33%;
      height: 33.33%;
      background: url("/static/img/farmGame/tudi.png");
      background-size: 100% 101.99%;
      position: relative;
      .variant {
        transform: rotateZ(-11deg) skew(41deg, -21deg);
      }
      .plant {
        position: absolute;
        left: -0.7rem;
        top: -1.38rem;
        height: 2.7rem;
        width: 1.44rem;
        z-index: 20;
      }
    }
    .LeaseBlock {
        background-image: url("/static/img/farmGame/tudi0.png");
      }
  }
}

// 引导的小手和光圈
  .hand {
    position: absolute;
    z-index: 10;
    right: 0.2rem;
    top: 0.56rem;
    width: 0.77rem;
    height: 0.97rem;
    animation: hand_scale 1s infinite;
  }
  .hand_light {
    position: absolute;
    right: 0.5rem;
    top: 0.4rem;
    width: 0.64rem;
    height: 0.64rem;
    animation: hand_light 1s 0.5s infinite;
  }


  ._money{
    color: #D90F05;
    position: absolute;
    top: 55%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    padding: 0 .25rem 0 .2rem;
    box-sizing: border-box;
    span{
    font-size: .42rem;
    font-weight: 600;

    }
  }
